@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Varela+Round&display=swap');
body{
    margin: 0px;
    font-family:"Varela Round", serif;
    background-color: papayawhip;
}
.header{
    padding:20px ;
    box-shadow: 0px 2px 5px #dddddd;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    z-index: 10;
}
.container{
    width: 1280px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    color: white;
    background-color: blue;
    border-radius: 48px;
    text-align: center;
    text-decoration: none;
    padding: 20px 45px;
}
.btn:hover{
    background-color: rgb(32, 15, 145);
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu a{
    color: black;
    text-decoration: none;
    padding: 10px;
}
.menu a:hover{
    color: blue;
    background-color: #dddddd;
   border-radius: 10px;
}
.title{
    background: linear-gradient(to right, #FFBC01,#FF90A5);
    font-size: 100px;
    background-clip: text;
    color: transparent;
}
p{
    text-align: left;
}
.ouvrir{
    color: white;
    background-color: blue;
    border-radius: 48px;
    text-align: center;
    text-decoration: none;
    padding: 8px 10px;
    border: none;
}
.indicatif{
    padding: 5px 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.téléphone{
    padding: 5px 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.ouvrir:hover{
  background-color: rgb(15, 15, 106);
}
.img {
    position: relative;
    display: flex;
    align-items: center;
}

.phone{
    max-width: 100%;
    height: auto;
    margin-top: 100px;
}

.card{
    margin-left: 180px;
    position: absolute;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 350px;
}
.demarrer{
    margin-top: 30px;
    background-color: #000000;
    color: #ffffffff;
    padding: 20px;
}
.eclair p{
    color: #aaaaaa;
   
}
.eclair{
    width: 90%;
}
.eclair h2{
    font-size:18px;
    margin-bottom: 7px;
    margin-top: 0px;
}
.dur{
    display: flex;
   align-self: start;
   gap: 10px;
}
.banner{
    padding-top: 15px;
}

.appli{
     text-align: center;
     margin: 0px auto;
     background-color: rgb(243 244 246 );
     width: 100%;
}
 .appli h7{
    text-align: center;
    background: linear-gradient(to right, #FD3C2D,#0C29FF);
    background-clip: text;
    color: transparent;
    font-size: 60px;
    font-weight: bold;
 }
.appli p{
     text-align: center;
     margin-top: -0px;
 }
 .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px,1fr));
    gap: 40px;
    margin: 20px 100px;
}
.box1 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.box1:hover{
    background-color: #0C29FF;
    color: white;
}

.box1 h3 {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.box1 h3 i {
    font-size: 22px;
    color: #d12f2f;
    margin-right: 10px;
}
.box2 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.box2:hover{
    background-color: #FFBC01;
    color: white;
}

.box2 h3 {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.box2 h3 i {
    font-size: 22px;
    color: #d12f2f;
    margin-right: 10px;
}
.box3 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.box3:hover{
    background-color: #FD3C2D;
    color: white;
}

.box3 h3 {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.box3 h3 i {
    font-size: 22px;
    color: #d12f2f;
    margin-right: 10px;
}
.box4 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.box4:hover{
    background-color: #31B67A;
    color: white;
}

.box4 h3 {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.box4 h3 i {
    font-size: 22px;
    color: #d12f2f;
    margin-right: 10px;
}
.box5 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.box5:hover{
    background-color: #FF90A5;
    color: white;
}

.box5 h3 {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.box5 h3 i {
    font-size: 22px;
    color: #d12f2f;
    margin-right: 10px;
}
.box6 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
.box6:hover{
    background-color: black;
    color: white;
}

.box6 h3 {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.box6 h3 i {
    font-size: 22px;
    color: #d12f2f;
    margin-right: 10px;
}
.content {
    width: 50%;
    margin-left: 80px;
}

.content h6 {
    text-align: center;
    background: linear-gradient(to right,#0C29FF,#FFBC01);
    background-clip: text;
    color: transparent;
    font-size: 60px;
    font-weight: bold;
}

.content p {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.btn {
    
    color: white;
    border:0px none ;
    border-radius: 50px ;
    background-color: blue;
    padding: 15px 30px;
    text-decoration: none;
    padding-top: 50px;
}

.image-container {
    width: 45%;
}

.image-container img {
    width: 100%;
    border-radius: 5px;
}
.bi{
    color: rgb(49 182 122  );
    text-align: center;
}
.zero-frais{
    display: flex;
}
.loloi{
    color: #31B67A;
    font-weight: 5px;
}
.pe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px;
    background-color: rgb(243 244 246 );
    margin: 0px auto;
}

.pi {
    width: 50%;
}
h6 {
    text-align: center;
    background: linear-gradient(to right,#FD3C2D,#31B67A);
    background-clip: text;
    color: transparent;
    font-size: 50px;
    font-weight: bold;
}
.pi p {
    font-size: 1.1em;
    color: #333;
   
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.1em;
    display: flex;
    align-items: center;
}
.btn {
    
    color: white;
    border:0px none ;
    border-radius: 50px ;
    background-color: blue;
    padding: 10px 20px;
    text-decoration: none;
}

.image-container {
    width: 45%;
}

.image-container img {
    width: 100%;
    border-radius: 5px;
}
h5 {
    text-align: center;
    background: linear-gradient(to right,#31B67A,#0C29FF);
    background-clip: text;
    color: transparent;
    font-size: 50px;
    font-weight: bold;
}
.zo p {
    margin-top: 1px;
    color: #333;
    margin-left: 50px;
    border-bottom: #dddddd solid 1px;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 50px;
}

ul li {
    font-size: 1.1em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.ddd {
    
    color: white;
    border:0px none ;
    border-radius: 50px ;
    background-color: blue;
    padding: 10px 20px;
    text-decoration: none;
}

.image-container {
    width: 35%;
    margin-right: 50px;
}

.image-container img {
    width: 100%;
    border-radius: 5px;
}
.popp{
    display: flex;
}
.icon{
    display: flex;

}

.footer{
    background-color: #000000;
    padding: 50px;
    color: white;
}
.footer-l{
    text-align: center;
}
.ask{
    font-size: 15px;
    color: #dddddd;
}
.prrr{
    font-size: 50px;
    color: #ffffff;
    font-weight: bold;
}
.pr{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    background-color: blue;
}
.mrr{
    font-size: 10px;
    margin-left: 280px;
    margin-bottom: 90px;
    color: #dddddd;
    
}
.djam{
    font-size: 30px;
    font-weight: bold;
}
.pour{
margin-top: 30px;
}
.banab{
    display: flex;
    border-bottom: 1px solid white;
}
.orrr{
    color: #aaaaaa;
}
.droits{
    text-align: center;
}
.ga {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
}

.go {
    width: 50%;
    display: flex;
}
.gi {
    text-align: center;
    background: linear-gradient(to right,#FDC830,#A4C639,#3AAA35);
    background-clip: text;
    font-size: 50px;
    font-weight: bold;
}
p {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 15px;
}

.vvv {
    
    color: white;
    border:5px none ;
    border-radius: 40px ;
    background-color: blue;
    padding: 10px 20px;
    text-decoration: none;
}

.koi {
    width: 50%;
}

.koi img {
    border-radius: 5px;
}
.aria{
    margin-left: 100%;
    font-size: 1.1em;
    color: #333;
}
.testimonials {
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px;
}

.e  {
    text-align: center;
    background: linear-gradient(to right, #FF6699, #3366FF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 50px;
    font-weight: bold;
}

.downloads {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}


.fiston img {
    width: 150px;
    margin: 20px;
    text-align: center;
}

.subtitle {
    margin-top: 20px;
    font-size: 18px;
    color: #777;
}

.reviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.review {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.q h3 {
    font-size: 16px;
    margin: 5px 0;
}

.Partie {
    font-size: 14px;
    color: #555;
}

.comment {
    font-size: 14px;
    color: #777;
    margin-top: 10px;
    text-align: left;
}
.security-section {
    background-color: #f2f2f2;
    padding: 50px 10%;
    text-align: center;
}

.security-section h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: solid;
}

.security-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.security-info {
    width: 50%;
}

.security-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.security-image {
    width: 40%;
    display: flex;
    justify-content: center;
}

.security-image img {
    width: 250px;
}